
<select id="test" name="form_select" onchange="showDiv('hidden_div', this)">
<option value = 1>WykresSlupkowy</option>
<option value = 0>WykresKolowy</option>
</select>

<!---<button type="submit" onClick="window.location.href='team'">View</button> -->
<form method="GET" action="{% url 'team' %}">
    <button type="submit">View2</button>
</form>

<div id="hidden_div" style="display: none;">This is a hidden div</div>
